*{
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 200px;
}


body {
    background-color: aqua;

}

h1{
    font-size: 30px;
    color:blueviolet
   
}

.red-title{
  background-color: red;
  color: black;
  padding: 15px;
  box-shadow: 3px 3px 3px rgba(0,0,0,.5);

}

.title{
  background-color: black;
  color: yellowgreen;
  padding: 1px;
  box-shadow: 3px 3px 3px rgba(0,0,0,.5);

}